<header class="fixed-top">
	<div class="container-fluid header-top">
		<div class="container customwidth">
			<nav class="navbar navbar-expand-lg navbar-dark">
			    <a class="navbar-brand" href="#">
			    	<img src="assets/img/gbrlogo-white.png" alt="">
			    </a>
			    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation" (click)="isNavbarCollapsed = !isNavbarCollapsed">
			    <span class="navbar-toggler-icon"></span>
			    </button>
			    <div class="collapse navbar-collapse" id="navbarTogglerDemo02" [ngbCollapse]="isNavbarCollapsed">
			        <ul class="navbar-nav ml-auto">
			            <li class="nav-item active">
			                <a class="nav-link" routerLink="">
			                	<img src="assets/img/home.png" alt="home">
			                	Home <span class="sr-only">(current)</span></a>
			            </li>
			            <li class="nav-item">
			                <a class="nav-link" routerLink="about">
							<img src="assets/img/about.png" alt="about">
			                About us</a>
			            </li>
			            <li class="nav-item">
			                <a class="nav-link" routerLink="how-gbr-works">
							<img src="assets/img/howgbrwork.png" alt="howgbrwork">
			                How GBR Works</a>
			            </li>
			            <li class="nav-item">
			                <a class="nav-link" routerLink="company">
							<img src="assets/img/company.png" alt="company">
			                Company</a>
			            </li>
			            <li class="nav-item">
			                <a class="nav-link" routerLink="investor">
							<img src="assets/img/investor.png" alt="investor">
			                Investor</a>
			            </li>
			            <li class="nav-item">
			                <a class="nav-link" routerLink="expert">
							<img src="assets/img/expert.png" alt="expert">
			                Expert</a>
			            </li>
			            <li class="nav-item">
			                <a class="nav-link" routerLink="new-member-registration">
							<img src="assets/img/newmember.png" alt="newmember">
			                New Member</a>
			            </li> 
			            <!-- <li class="nav-item dropdown">
					        <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					        <img src="assets/img/newmember.png" alt="newmember">
			                New Member</a>
					        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
					        	<a class="dropdown-item" routerLink="new-member-registration-companies">New Member Registration Companies</a>
					        	<a class="dropdown-item" routerLink="new-member-registration-investors">New Member Registration Investors</a>
					        	<a class="dropdown-item" routerLink="new-member-registration-expert">New Member Registration Expert</a>

					        	<a class="dropdown-item" routerLink="logged-page">Logged Page</a>
					        	<a class="dropdown-item" routerLink="logged-page-search-company">Logged Page Search Company</a>
					        	<a class="dropdown-item" routerLink="logged-page-search-investor">Logged Page Search Investor</a>
					        	<a class="dropdown-item" routerLink="logged-page-search-expert">Logged Page Search Expert</a>
					        	<a class="dropdown-item" routerLink="payment">Payment</a>
					        	<a class="dropdown-item" routerLink="notification">notification</a>
					        </div>
					     </li> -->
			            <li class="nav-item">
			                <a class="nav-link" href="#">
							<img src="assets/img/messaging.png" alt="messaging">
			                Messaging</a>
			            </li>
			            <li class="nav-item">
			                <a class="nav-link" href="#">
							<img src="assets/img/contactus.png" alt="contactus">
			                Contact us</a>
			            </li>
			            <li class="nav-item">
			                <a class="nav-link" href="#">
							<img src="assets/img/policies.png" alt="policies">
			                Policies</a>
			            </li>
			            <li class="nav-item">
			                <a class="nav-link" href="#">
							<img src="assets/img/faq.png" alt="faq">
			                FAQ</a>
			            </li>
			        </ul>
			    </div>
			</nav>
		</div>
	</div>
</header>


	



