<app-loggedpage-headerbtm></app-loggedpage-headerbtm>
<section class="main-content logged-page">
	<div class="container customwidth">
		<div class="row customrow">
			<aside class="col-md-3 sidebar-left">
				<div class="sidebar-left-inside customtab">
					<!-- Nav pills -->
					<ul class="nav nav-pills nav-justified" role="tablist">
					    <li class="nav-item">
					        <a class="nav-link active" data-toggle="pill" href="#contacts">Contacts</a>
					    </li>
					    <li class="nav-item">
					        <a class="nav-link" data-toggle="pill" href="#searchresults">Search Results</a>
					    </li>
					</ul>
					<!-- Tab panes -->
					<div class="tab-content">
					    <div id="contacts" class="container tab-pane fade">
					        <ul class="list-group list-group-flush">
					        	<li class="list-group-item active">+00290-Rubin</li>
								<li class="list-group-item">+00298-alexander</li>
								<li class="list-group-item">+00230-Ramin</li>
								<li class="list-group-item">+00223-Ahmed</li>
								<li class="list-group-item">+00298-Konul</li>
								<li class="list-group-item">+00290-Mastanov</li>
								<li class="list-group-item active">+00291-Gabriel</li>
								<li class="list-group-item active">+00233-Sajan</li>
								<li class="list-group-item">+00270-Markose steph</li>
								<li class="list-group-item">+00240-Stefanov</li>
								<li class="list-group-item active">+00290-Hussain Javid</li>
								<li class="list-group-item">+00290-Sofornova </li>
								<li class="list-group-item">+00290-Clare Mendonza</li>
								<li class="list-group-item">+00290-Ram Chandran</li>
								<li class="list-group-item active">+00290-Sam Brakash</li>
								<li class="list-group-item">+00290-Crealose rus</li>
								<li class="list-group-item">+00290-Jkjoijreeeeg dfd</li>
								<li class="list-group-item active">+00290-Rkijk iowpkpo</li>
								<li class="list-group-item">+00290-RubiKoo Joppoe</li>
								<li class="list-group-item">+00290-S okijoire lj</li>
								<li class="list-group-item">+00290-RJoisre ooihjio</li>
								<li class="list-group-item">+00290-Rubin</li>
								<li class="list-group-item">+00290-Rhoseio oireon</li>
								<li class="list-group-item">+00290-Rubin</li>
								<li class="list-group-item">+00290-Rubin</li>
								<li class="list-group-item">+00290-Rubin</li>
					        </ul>
					    </div>
					    <div id="searchresults" class="container tab-pane active  searchresults">
					        <ul class="list-group list-group-flush">
						        <li class="list-group-item">
						        	<span><b>Canyon Industries</b></span>
									<span>South Africa</span>
									<span>Financial Services</span>
								</li>

								<li class="list-group-item">
									<span><b>Sand piper</b></span>
									<span>South Africa</span>
									<span>Financial Services</span>
								</li>

								<li class="list-group-item">
									<span><b>Crown Enterprises</b></span>
									<span>South Africa</span>
									<span>Financial Services</span>
								</li>

								<li class="list-group-item">
									<span><b>Monova Co.</b></span>
									<span>South Africa</span>
									<span>Financial Services</span>
								</li>

								<li class="list-group-item">
									<span><b>Lisbon carb</b></span>
									<span>South Africa</span>
									<span>Financial Services</span>
								</li>

								<li class="list-group-item">
									<span><b>Motor Dive</b></span>
									<span>South Africa</span>
									<span>Financial Services</span>
								</li>

								<li class="list-group-item">
									<span><b>Canyon Industries</b></span>
									<span>South Africa</span>
									<span>Financial Services</span>
								</li>

								<li class="list-group-item">
									<span><b>Sand piper</b></span>
									<span>South Africa</span>
									<span>Financial Services</span>
								</li>

								<li class="list-group-item">
									<span><b>Crown Enterprises</b></span>
									<span>South Africa</span>
									<span>Financial Services</span>
								</li>

								<li class="list-group-item">
									<span><b>Monova Co.</b></span>
									<span>South Africa</span>
									<span>Financial Services</span>
								</li>

								<li class="list-group-item">
									<span><b>Lisbon carb</b></span>
									<span>South Africa</span>
									<span>Financial Services</span>
								</li>

								<li class="list-group-item">
									<span><b>Motor Dive</b></span>
									<span>South Africa</span>
									<span>Financial Services</span>
								</li>
							</ul>
					    </div>
					</div>
				</div>
				
			</aside>
			<div class="col-md-5 middle-content">
				<img class="emptypageimg" src="assets/img/search-to-find-new-contacts.png" alt="location">
				<p class="text-center emptypageimg-helptext">Search above to find new contacts</p>
			</div>
			<aside class="col-md-4 side-bar">
				<img class="sidebar-img" src="assets/img/logged-page-sidebar-right.png" alt="">
			</aside>
		</div>
	</div>
</section>