<section class="header-bottom">
	<div class="container customwidth">	
		<div class="row">
		 	<div class="col-md-4"><h1>Welcome to GBR!</h1></div>
			<div class="col-md-5 ml-auto">
				<div class="right-align">
					<p class="input-header">Member Login</p>
			  		<form class="form-inline ">
					    <div class="form-group mx-sm-3 mb-2">
					        <label for="inputUsername2" class="sr-only">Username</label>
					        <input type="text" class="form-control" id="inputPassword2" placeholder="Username">
					    </div>
					    <div class="form-group mx-sm-3 mb-2">
					        <label for="inputPassword2" class="sr-only">Password</label>
					        <input type="password" class="form-control" id="inputPassword2" placeholder="Password">

					    </div>
					    <button type="submit" class="btn btn-primary mb-2">Sign in</button>

					</form>
					<p class="forgotpsw">Forgot your password?</p>
				</div>
			</div>
		</div>
		<div class="card-group">
		   <div class="card">
		      <div class="card-body">
		         <h5 class="card-title">Your business highway to opportunities</h5>
		         <img src="assets/img/gbrlogo-color.png" alt="">
		      </div>
		   </div>
		   <div class="card">
		      <div class="card-body">
		         <h5 class="card-title text-left">Take your business meetings to next level.</h5>
		         <p class="card-text text-left">You can find new investors/companies, this is a dummy text and needs to replace withoriginal which is finalised according to the subject. You can find new investors/companies, this is a dummy text and needs to replace withoriginal which is finalised according to the subject.</p>
		      </div>
		   </div>
		   <div class="card">
		      <div class="card-body">
		         <h5 class="card-title"><span>Join now!!</span> <br>to take the advantageous of networking</h5>
		         <p class="card-text">Please do register to  open the window of opprotunities to find New investors/clients and companies. <br>Let your business fly!!</p>
		         <button type="submit" class="btn btn-primary mb-2">Yes! I want to join now</button>
		      </div>
		   </div>
		</div>
	</div>
</section>