<section class="header-bottom loggedpage-headerbtm">
	<div class="container customwidth">	
		<div class="row">
		 	<div class="col-md-4">
		 		<img class="profilepic" src="assets/img/profilepic.png" alt="profilepic">
		 		<h1>Hello Maxim!</h1>
		 	</div>
			<div class="col-md-5 ml-auto">
				<div class="right-align">
					<button type="submit" class="btn btn-primary signout-btn">Sign out</button>
				</div>
			</div>
		</div>
		<div class="card-group">
		   <div class="card logo-card">
		      <div class="card-body">
		         <h5 class="card-title">Your business highway to opportunities</h5>
		         <img src="assets/img/gbrlogo-color.png" alt="logo">
		      </div>
		   </div>
		   <div class="card input-card">
		   		<div class="card-header">
				    <h3>Search for new Contacts</h3>
				    <span class="custom-checkbox1">
				    	<div class="custom-control custom-checkbox custom-control-inline ml-0 pl-0">
						    <input type="checkbox" class="custom-control-input" id="company" name="company">
						    <label class="custom-control-label" for="company">Company</label>
						</div>
						<div class="custom-control custom-checkbox custom-control-inline">
						    <input type="checkbox" class="custom-control-input" id="investor" name="investor">
						    <label class="custom-control-label" for="investor">Investor</label>
						</div>
						<div class="custom-control custom-checkbox custom-control-inline">
						    <input type="checkbox" class="custom-control-input" id="expert" name="expert">
						    <label class="custom-control-label" for="expert">Expert</label>
						</div>
				    </span>
				 </div>
		      	<div class="card-body">
		         	<form class="row">
		         		<div class="col-md-4">
		         			<div class="form-group">
						        <label for="continent">Continent</label>
						        <select name="continents" class="custom-select">
								    <option selected>List of continents</option>
								    <option value="volvo">continents</option>
								    <option value="fiat">continents</option>
								    <option value="audi">continents</option>
								</select>
						    </div>
						    <div class="form-group">
						        <label for="location">Location</label>
						        <select name="location" class="custom-select">
								    <option selected>List of furnished locations</option>
								    <option value="volvo">locations</option>
								    <option value="fiat">locations</option>
								    <option value="audi">locations</option>
								</select>
						    </div>
		         		</div>
		         		<div class="col-md-4">
		         			<div class="form-group">
						        <label for="country">Country</label>
						        <select name="country" class="custom-select">
								    <option selected>List of Country</option>
								    <option value="volvo">Country</option>
								    <option value="fiat">Country</option>
								    <option value="audi">Country</option>
								</select>
						    </div>
						    <div class="form-group">
						        <label for="areaofspecification">Area of Specification</label>
						        <select name="areaofspecification" class="custom-select">
								    <option selected></option>
								    <option value="volvo">Area of Specification</option>
								    <option value="fiat">Area of Specification</option>
								    <option value="audi">Area of Specification</option>
								</select>
						    </div>
		         		</div>
		         		<div class="col-md-4">
		         			<button type="submit" class="btn btn-primary">Search</button>
		         			<span class="searchresult-count">We found 82 Results for Company</span>
		         		</div>
		         	</form>
		      	</div>
		   </div>
		</div>
	</div>
</section>