<app-header-bottom></app-header-bottom>
<section class="main-content payment-page">
	<div class="container customwidth">
		<div class="row customrow">
			<aside class="col-md-3 sidebar-left">
				<div class="sidebar-left-inside">
					<img class="sidebar-left-img" src="assets/img/company-sidebarleft-img.png" alt="about">
				</div>
				
			</aside>
			<div class="col-md-5 middle-content">
				<br class="hidden-xs-down">
				<div class="row">
					<div class="col-md-6"><h2 class="main-title">Payment Details</h2></div>
					<div class="col-md-6">
						<img class="payment-service-images" src="assets/img/payment-icon.png" alt="payment">
					</div>
				</div>
				<form action="" class="payment-form">
					<div class="row">
						<div class="col-md-6">
							<div class="form-group">
							    <label for="cardtype">Card Type*</label>
							    <select class="form-control custom-select" id="cardtype">
							    	<option>1</option>
							    	<option>2</option>
							    	<option>3</option>
							    	<option>4</option>
							    	<option>5</option>
							    </select>
							 </div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
						    	<label for="cardnumber">Card Number*</label>
						    	<input type="number" class="form-control" id="cardnumber" placeholder="Enter Card Number">
						  	</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-6">
							<div class="form-group">
							    <label for="expirydate">Expiry Date*</label>
							    <input type="text" class="form-control" id="month" placeholder="Month">
							 </div>
						</div>
						<div class="col-md-6">
							<label for="">&nbsp;</label>
							<div class="form-group">
						    	<input type="text" class="form-control" id="date" placeholder="Date">
						  	</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-6">
							<div class="form-group">
							    <label for="cardholder">Card Holder*</label>
							    <input type="text" class="form-control" id="cardholder">
							 </div>
						</div>
						<div class="col-md-6">
							<label for="email">Email*</label>
							<div class="form-group">
						    	<input type="email" class="form-control" id="email">
						  	</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-6">
							<div class="form-group">
							    <label for="amount">Amount to be charged  to card</label>
							    <input type="text" class="form-control" id="amount" placeholder="$0.00">
							 </div>
						</div>
						<div class="col-md-6">
							<div class="custom-control custom-checkbox">
							    <input type="checkbox" class="custom-control-input" id="customCheck" name="example1">
							    <label class="custom-control-label" for="customCheck">I have read and agree to the terms and conditions ( Please refere FAQ menu)</label>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<button type="button" class="btn btn-primary pay-button">Agree & Pay</button>
						</div>
					</div>
				</form>
			</div>
			<aside class="col-md-4 side-bar">
				<img class="sidebar-img" src="assets/img/sidebar-img.png" alt="">
			</aside>
		</div>
	</div>
</section>