<app-header-bottom></app-header-bottom>
<section class="main-content notification-page">
	<div class="container customwidth">
		<div class="row customrow">
			<aside class="col-md-3 sidebar-left">
				<div class="sidebar-left-inside">
					<img class="sidebar-left-img" src="assets/img/company-sidebarleft-img.png" alt="about">
				</div>
				
			</aside>
			<div class="col-md-5 middle-content">
				<div class="notification-content">
					<h2 class="main-title">Congratulations!</h2>
					<h3 class="sub-title">You got registered.</h3>
					<p>
						*You will be receiveing a mail, containing  “username” and password to access your GBR account within 24 hours after registration. If not then please contact us at “customer@gbroots.com”
					</p>
				</div>
			</div>
			<aside class="col-md-4 side-bar">
				<img class="sidebar-img" src="assets/img/sidebar-img.png" alt="">
			</aside>
		</div>
	</div>
</section>